@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    /* max-width: 94%; */
    margin: 0 auto;
}

.banar {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 200px 260px 200px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(360.00deg, rgba(9.2, 8.93, 8.93, 1), rgba(16, 16, 16, 0) 100%);
}

.subtitle {
    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
}

.banar_heading {
    font-family: Work Sans;
    font-style: Bold;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    padding-top: 15px 0 24px;
}

.pera {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

p {
    font-family: Work Sans;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    width: 845px;
}

.banar_button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(82, 195, 3, 1);
    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
}

.Card_container {
    width: 884px;
    margin: 0 auto;
    padding: 120px 0;
}

.card_content {}

.card_headsubtitle {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-style: Medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}

.card_headtitle {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-style: Bold;
    font-size: 32px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 32px;
    width: 462px;
    margin: 0 auto;
}

.card_figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.card_image {
    width: 100%;
    padding-bottom: 22px;
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag_contain {
    padding: 10px 22px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}

.card_tag {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;

}

.card_title {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 26px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    padding: 16px 0;
}

.card_details {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-style: Medium;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    width: 284px;
}

.btn_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
}

.cardbtn {
    padding: 21px 32px 21px 32px;
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: rgba(82, 195, 3, 1);
    border: none;
    border-radius: 6px;
}

.about_container{
    display: flex;
    /* justify-content: center;  */
 align-items: center;

} 
.about_image{
    width: 100%;
}
.about_figure{
    width: 50%;
}
.about_all{
    width: 50%;
}
.about_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about_title{
    color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-style: Bold;
font-size: 32px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0%;
text-align: center;
width: 540px;
/* margin: 0 auto; */
}
.about_details{
    color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
padding: 16px 0 52px;
width: 540px;
}
.follow{
    color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-style: SemiBold;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
width: 540px;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.social img{
    margin: 0 15px;
}