/* *{
    padding: 0;
    margin: 0;
} */
                                                                                                                                 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
footer > p {
    text-align: center;
}
nav > ul {
    display: flex;
    justify-content: space-around;
    
}
nav > ul li{
    list-style: none;
}
nav > ul > li > a{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 20px;
    margin: 10px 0;
    color: black;
    /* background-color: ; */
    border-radius: 10px;
}
nav > ul > li > a:hover{
    background-color: rgb(119, 174, 176);
}
nav  ul  li a{
 text-decoration: none;
}
nav  ul  li{
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 20px;
    margin: 10px 0;
    color: black;
    /* background-color: ; */
    border-radius: 10px;
}
nav  ul  li > .dropdown{
    display: none;
    position: absolute;
    background-color: lightgoldenrodyellow;
}
nav  ul  li:hover > .dropdown{
    display: block;
}
figure img{
    width: 50%;
}

label{
    display: block;
    margin-top: 12px;
}

table{
    border-collapse: collapse;
    
}
td{
    border:1px solid black;
    padding: 12px;
}