* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.card {
    background-color: rgb(162, 198, 229);
    border: 1px solid rgb(84, 25, 25);
    text-align: center;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(107, 230, 230);
}
.bgimage{
    height: 500px;
    background-image: url("/image/133837591947168709.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#image2{
    /* display: ; */
    visibility: hidden;
}
#image3{
    display: none;
    /* visibility: hidden; */
}
input[type="password"]{
    color: tomato;
}
/* cat gt */
.card {
    background: #ffffff;
    width: 300px;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h2 {
    color: #06284B;
    margin-bottom: 5px;
}

.card h4 {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    color: #444;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    text-decoration: none;
    background-color: #22C55E;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.card a:hover {
    background-color: #16a34a;
}