* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.card {
    background-color: rgb(162, 198, 229);
    border: 1px solid rgb(84, 25, 25);
    text-align: center;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(107, 230, 230);
}
.bgimage{
    height: 500px;
    background-image: url("/image/133837591947168709.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#image2{
    /* display: ; */
    visibility: hidden;
}
#image3{
    display: none;
    /* visibility: hidden; */
}
input[type="password"]{
    color: tomato;
}